{% extends 'rango/base.html' %}

{%  block title %} Adiciona Categoria {% endblock title %}

{% block body_block %}
        <div class="hero-unit">
            <h1>Adiciona uma Categoria</h1>

            <div class="container">

                <form class="span6" id="category_form" method="post" action="/rango/add_category/">

                    {% csrf_token %}

                    {% for hidden in form.hidden_fields %}

                        {{ hidden }}

                    {% endfor %}


                    {% for field in form.visible_fields %}

                        {{ field.errors }}

                        {{ field.help_text }}

                        {{ field }}

                    {% endfor %}


                    <button class="btn btn-primary" type="submit" name="submit">Adiciona Categoria</button>

                </form>

            </div>

        </div>
{% endblock body_block %}