{% extends 'rango/base.html' %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
    <div class="hero-unit">
        <h1>{{ category_name }}</h1>

        {% if pages %}
        <ul>
            {% for page in pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>Nao ha paginas nessa categoria.</strong>
        {% endif %}

        {% if user.is_authenticated %}
            <ul>
                <li> <a href="/rango/category/{{url}}/add_page/">Add a Page</a> </li>
            </ul>
        {% endif %}

    </div>
{% endblock %}