{% extends 'rango/base.html' %}

{% load static %}


{%  block title %} Principal {% endblock title %}


{% block body_block %}

<div class="hero-unit">

    <h1>Prontos para Rango? YEAH!</h1>

    <p>Encontre, Adicione e compartilhe links e recursos úteis.</p>

</div>


<div class="row-fluid">

    <div class="span6">

        <h2>Top 5 Categorias</h2>

        {% if categories %}

        <ul>

            {% for category in categories %}

            <li><a href="/rango/category/{{ category.url }}">{{ category.name }}</a> ({{ category.likes }} like(s))</li>

            {% endfor %}

        </ul>

        {% else %}

        <strong>Nenhuma categoria no momento.</strong>

        {% endif %}


    </div>

    <!--/span-->

    <div class="span6">

        <h2>Top 5 Páginas</h2>

        {% if pages %}

        <ul>

            {% for page in pages %}

                <a href="/rango/goto/?page_id={{page.id}}">{{ page.title }} </a> <br>

            {% endfor %}

        </ul>

        {% else %}

        <strong>Sem páginas no momento.</strong>

        {% endif %}

    </div>

    <!--/span-->

</div>

<!--/row-->

{% endblock body_block %}
