{% extends 'rango/base.html' %}


{%  block title %} Login {% endblock title %}


{% block body_block %}

    <div class="hero-unit">

    <h1>Login no Rango</h1>

    <div class="container">

    <form class="form-signin span4" id="login_form" method="post" action="/rango/login/">

        <h2 class="form-signin-heading">Por favor faça o login</h2>

        {% csrf_token %}


        {% if bad_details %}

        <p><strong>Seu usuário ou senha estão incorretos!</strong></p>

        {% elif disabled_account %}

        <p><strong>Sua conta foi desabilitada; não podemos efetuar o login in!</strong></p>

        {% endif %}


        Nome do usuário: <input type="text" class="input-block-level" placeholder="Nome do usuário" name="username" value="" size="50" />

        <br />

        Senha: <input type="password" class="input-block-level" placeholder="Senha" name="password" value="" size="50" />

        <br />

        <button class="btn btn-primary" type="submit">Sign in</button>

    </form>


    </div>

    <!-- /container -->

    </div>

{% endblock body_block %}
