{% extends 'rango/base.html' %}

{%  block title %} Página restrita {% endblock title %}


{% block body_block %}

    <h1>Página restrita!</h1>

    <strong>{{ texto }} </strong><br/>

{% endblock body_block %}
